/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap'); */
/* Root */
:root{
  --primary: #0074bc !important;
  --light-green: #cef1a5;
  --light-red: #ffbcbc;
  --table-radius: 5px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.1);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3); 
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.4); 
}

a[title]:after {
  border-radius: 3px !important;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.source-sans-pro{
  font-family: 'source sans pro',sans-serif !important;
}

button:focus{
  outline: none !important;
}

.btn-transparent{
  background-color: transparent;
  border-color: transparent;
  transition: .3s;
}

.btn-transparent:hover{
  background-color: rgba(0,0,0,.05);
}

textarea{
  min-height: 62px;
  max-height: 158px;
}

.text-pill{
  border-radius: 100px;
  display: inline-block;
  margin: 3px;
  padding: 5px 12px;
}

.bg-light-green{
  background-color: var(--light-green) !important;
}

.bg-light-red{
  background-color: var(--light-red) !important;
}

.border-none{
  border: none !important;
}

/* Wrapper */
.layout-footer-fixed .wrapper .content-wrapper{
  padding-bottom: calc(4rem + 1px);
}

/* Navbar */
.navbar{
  box-shadow: 0px 3px 10px rgb(0 0 0 / .1);
}
.navbar .nav-link.btn-transparent{
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: .25rem;
}

/* Datepicker */
input.datepicker{
  cursor: pointer;
}

/* Anchor */
a.inherit{
  text-decoration: none;
  color: inherit !important;
}

/* Table */
.table,table.table .dtr-details{
  width: 100% !important;
}
.table td,.table th{
  vertical-align: middle !important;
  text-align: center;
  max-width: 400px;
}
.table td:last-child,.table th:last-child{
  min-width: 100px;
}
.table .btn.btn-transparent{
  padding-left: 5.75px !important;
  padding-right: 5.75px !important;
  /* border-radius: 50%; */
  margin-left: 1px;
  margin-right: 1px;
}
@media only screen and (min-width:768px){
  .table tr td:first-child{
    border-left: 1px solid #e2e2e2 !important;
  }
  .table tr td:last-child{
    border-right: 1px solid #e2e2e2 !important;
  }
  .table tr:last-child td{
    border-bottom: 1px solid #e2e2e2 !important;
  }
  .table{
    border-radius: var(--table-radius) !important;
  }
  .table th:first-child{
    border-top-left-radius: var(--table-radius) !important;
  }
  .table th:last-child{
    border-top-right-radius: var(--table-radius) !important;
  }
  .table tr:last-child td:first-child{
    border-bottom-left-radius: var(--table-radius) !important;
  }
  .table tr:last-child td:last-child{
    border-bottom-right-radius: var(--table-radius) !important;
  }
}

/* Hover */
.hover-danger:hover{
  background-color: var(--danger) !important;
  color: white;
}

/* Login Page */
.login-page .login-box{
  width: 400px;
}

/* Input Select */
select{
  cursor: pointer !important;
}

/* Input Invalid */
input.form-control.is-invalid, select.form-control.is-invalid{
  background-image: none !important;
}

input.form-control.is-invalid{
  border-radius: 4px !important;
}

input.is-invalid ~ .input-group-append .input-group-text,
.input-password.input-group input.is-invalid:active ~ .input-group-append .input-group-text,
.input-password.input-group input.is-invalid:focus ~ .input-group-append .input-group-text{
  border-color: var(--danger);
}

/* Input Password */
.input-password.input-group input{
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-right: none !important;
}

.input-password.input-group input:active ~ .input-group-append .input-group-text,
.input-password.input-group input:focus ~ .input-group-append .input-group-text{
  border-color: rgb(128,189,255);
}

.input-password.input-group .input-group-text{
  background-color: #fff;
  border-left: none !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.input-password.input-group .input-group-text span{
  cursor: pointer;
}

/* Content Wrapper */
.content-wrapper{
  padding-bottom: .5rem;
}

/* Disabled Button */
.btn.disabled, .btn:disabled{
  cursor: default;
}

/* select */
.select2 .select2-search__field{
  padding-left: .25rem!important;
}
.input-group>.select2-container--bootstrap4:not(:last-child) .select2-selection{
  border-radius: .25rem !important;
}